{
    "urls": [
        "https://new.reddit.com/r/bapcsalescanada/search?q=NVMe%20NOT%20laptop%20NOT%20prebuild%20NOT%20prebuilt&restrict_sr=1&sort=new"
    ],
    "discordWebhook": "",
    "discordMention": ""
}