apiVersion: v1
kind: Secret
metadata:
    name: bapcsalescanada-watcher-secret
type: Opaque
stringData:
    BAPCSALESCANADA_WATCHER_CONFIG: |
        {
          "urls": [
              "https://new.reddit.com/r/bapcsalescanada/search?q=NVMe%20NOT%20laptop%20NOT%20prebuild%20NOT%20prebuilt&restrict_sr=1&sort=new"
          ],
          "discordWebhook": "",
          "discordMention": ""
        }
